<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="checkout_box">
      <div class="inside_checkout">
        <h2 class="head">You Are One Step Away To Get Your Order😎</h2>
        <h2>Your Current Bill To Pay is <%= bill %></h2>
        <button style="background-color: black">
          <a
            style="text-decoration: none; color: white; font-size: 1vw"
            href="/buy"
            >Buy</a
          >
        </button>
        <button style="background-color: black">
          <a
            style="text-decoration: none; color: white; font-size: 1vw"
            href="/cart"
            >Cart</a
          >
        </button>
      </div>
    </div>
    <%-include("partials/madeby")%>
  </body>
</html>
