<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <button style="float: right; background-color: yellowgreen; color: white">
      <a style="text-decoration: none" href="/product"
        >Jump Directly to Product Page</a
      >
    </button>
    <h1 class="what">What Do You Want to do!</h1>
    <div class="maindiv">
      <button class="btn1"><a class="a1" href="/login">Login</a></button>
      <button class="btn2"><a class="a2" href="/signup">Signup</a></button>
    </div>
  </body>
</html>
