* {
  padding: 5px;
}
body {
  background-image: linear-gradient(to right, #4ca1af, #c4e0e5);
}
.maindiv {
  display: flex;
  justify-content: center;
}
.btn1 {
  background-color: aquamarine;
  color: black;
  width: 10vw;
  height: 10vh;
  margin-right: 50px;
  font-size: 20px;
  font-weight: bolder;
}
.btn2 {
  width: 10vw;
  height: 10vh;
  background-color: aquamarine;
  color: black;
  font-size: 20px;
  font-weight: bolder;
}
.what {
  display: flex;
  justify-content: center;
  margin-top: 15%;
  padding: 20px;
}
.a1,
.a2 {
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
}
.login_div,
.signup_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.signup_div {
  margin-top: 5%;
}
.form {
  border-radius: 5px;
  background-color: lightgray;
  padding: 50px;
  display: flex;
  width: 20vw;
  gap: 20px;
  flex-direction: column;
  box-shadow: 0px 0px 5px 5px black;
  background-image: linear-gradient(
    to right,
    rgb(199, 228, 211),
    rgb(243, 191, 191)
  );
}
.a_login,
.a_signup {
  margin-top: 10px;
}
.login_btn,
.signup_btn {
  background-color: rgb(75, 143, 8);
  color: black;
  font-size: 1.5vw;
  font-weight: bolder;
  width: 10vw;
  height: 5vh;
  align-self: center;
}
.Username,
.email_id,
.password {
  width: 20vw;
  height: 5vh;
}
.logout_btn {
  width: 7vw;
  background-color: aquamarine;
}
.header {
  border-bottom-style: groove;
  border-color: black;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.header_data {
  display: flex;
  gap: 10px;
  float: right;
  flex-direction: row-reverse;
}
.user_img {
  width: 60px;
  height: 50px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px black;
  cursor: pointer;
}
.user_info {
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.forgotpassword {
  margin: 5px;
}
.heading {
  text-align: center;
}
.product_div {
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 10px; /*Optional*/
}
.product_container {
  display: table-cell;
}
.product_box {
  padding: 0px;
  text-align: center;
  margin-bottom: 20px;
}
.product_image {
  height: 30vh;
  width: 20vw;
}
.inside_div {
  background-color: white;
  border: 2px dotted black;
  border-radius: 10px;
}
.backtomain {
  font-size: 15px;
  background-color: cornflowerblue;
}
.a_gotocart,
.a_add_toCart {
  text-decoration: none;
  color: white;
  font-size: 1vw;
}
.a_gotocart:hover,
.a_add_toCart:hover {
  text-decoration: none;
  color: white;
}
.a_home,
.a_logout {
  font-size: 1vw;
  text-decoration: none;
  color: black;
  font-size: 30px;
}
.a_home:hover,
.a_logout:hover {
  text-decoration: none;
  color: white;
}
.add_toCart_button {
  background-color: chocolate;
  width: 8vw;
  font-size: 1vw;
}
.home_btn {
  width: 7vw;
}
.a_remove_Cart {
  color: white;
  text-decoration: none;
  font-size: 1vw;
}
.a_remove_Cart:hover {
  color: white;
  text-decoration: none;
}
.checkou_btnt {
  float: right;
}
.a-checkout {
  text-decoration: none;
  color: white;
  font-size: 1vw;
}
.a-checkout:hover {
  text-decoration: none;
  color: white;
  font-size: 1vw;
}
.checkout_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* .checkout_box {
  background-image: linear-gradient(
    to right,
    rgb(199, 228, 211),
    rgb(243, 191, 191)
  );
} */
.inside_checkout {
  padding: 40px;
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgb(199, 228, 211),
    rgb(243, 191, 191)
  );
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px black;
}
.a_product_Page {
  color: black;
  text-decoration: underline;
  font-size: 1.5vw;
  font-weight: 900;
  float: right;
}
.a_product_Page:hover {
  color: white;
}
.notloogedin {
  color: black;
  text-decoration: none;
  font-weight: bolder;
  font-size: 30px;
}
.notloogedin:hover {
  color: white;
  text-decoration: none;
}
